/*--
	Theme Name: free_interior_woocommerce
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 3.8.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1
	MotoPress Version: 1.0
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */
	
#footer-text {
	display: none;
}

.woocommerce-tabs {
	display: none;
}

body #motopress-main.main-holder .content-holder div.product .summary .share-buttons {
	/*display: none;*/
}

body #motopress-main.main-holder .shop-nav ul li a {
	color: #FFF !important;
}

body #motopress-main.main-holder .shop-nav ul li a:hover {
	text-decoration: underline;
}

body #motopress-main.main-holder .shop-nav ul li:first-child {
	border-left: 1px solid #fff !important;
}

body #motopress-main.main-holder .shop-nav ul li {
	border-right: 1px solid #fff !important;
}

body #motopress-main.main-holder .content-holder div.product .summary .quantity {
	display: none !important;
}

body #motopress-main.main-holder .content-holder div.product .summary .product_meta {
	display: none;
}

body #motopress-main.main-holder .content-holder .related.products {
	clear: both;
}

body .content-holder .woocommerce-message, body .content-holder div.jigoshop_message {
	display: none;
}